.main {
    width: 80%;
    height: 200vh;
    // background-color: red;
    padding: 4rem;
    padding-top: 0;

    .homeBar {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 80%;
        background-color: #535050;
    }
}