@use "../colors";

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  height: 18rem;
  background-color: colors.$secondary;
  border-radius: 5px;
  padding: 1rem;

  .name {
    font-size: 1.2rem;
  }

  .text {
    text-align: center;
  }

  .time {
    align-self: flex-end;
  }
}
